@model AdvertDto
@{
    ViewData["Title"] = "Admin Panel";

}
<div class="row">
    <div class="border border-1">
        <div class="card col-6 d-inline-block m-5" style="width: 18rem;">
            <form method="Get">
                <img class="card-img-top" src="@Model.Car.ImageUrl" alt="Profile Image">
                <div class="card-body">
                    <h5 class="card-title">@Model.Car.CarSerial.CarModel.CarMark.Name @Model.Car.CarSerial.CarModel.Name</h5>
                    <p class="card-text">@Model.Car.Description</p>
                </div>
            </form>

        </div>

        <div class="col-6 d-inline-block">
            <form method="post" asp-action="AddAdvert">
                <div class="form-group mx-1">
                    <label asp-for="PublishDate" class="form-label text-center">Günlük Fiyat Belirle</label>
                    <input class="form-control" type="number" asp-for="PriceOfDay" /> 
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-warning" type="submit">İlana Koy</button>
                </div>
            </form>
        </div>
    </div>
</div>