@{
    ViewData["Title"] = "Anasayfa";

}
<link href="~/css/HomeIndex.css" rel="stylesheet" media="all" />
<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 text-center text-primary fw-bold">TorCar</h1>
        <h5 class=" text-center text-primary small">Türkiyenin en İyi Rent A Car Hizmeti</h5>
    </div>
</div>
<div class="row container">
    <div class="col-lg-6 col-md-6 mb-5 col-sm-12" style="height:25vh">
        <div class="card">
            <img src="https://www.hdcarwallpapers.com/download/renault_clio_rs_line_2019_5k-3840x2160.jpg" class="card-img-top w-100" alt="Clio" style="height:25vh;object-fit:cover" />
            <div class="card-body" style="height:10vh">
                <p class="card-text text-dark text-center">Aracını Bul,Tarih belirle,Uygun Fiyata Gel Al</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6  col-sm-12" style="height:25vh">
        <div class="card">
            <img class="card-img-top" style="height: 25vh; object-fit: cover" src="https://c4.wallpaperflare.com/wallpaper/302/169/276/2016-cars-french-megane-wallpaper-preview.jpg" alt="Megane" />
            <div class="card-body" style="height:10vh">
                <p class="card-text text-dark text-center">Kira bitiş tarihinde aracını herhangi bir otoparka bırak,Biz gerisini hallederiz.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto mt-5" style=";">
        <div class="card">
            <img class="card-img-top" style="height: 25vh; object-fit: cover" src="https://www.drivespark.com/images/2017-02/fiat-linea-exterior-6.jpg" alt="Linea" />
            <div class="card-body" style="height:10vh">
                <p class="card-text text-dark text-center">Hizmet Bölgelerimizle dilediğiniz araçlarla size en iyi hizmeti sunmaktan gurur duyuyoruz.</p>
            </div>
        </div>
    </div>
</div>


