@{
    ViewData["Title"] = "Hata";
}
<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <h1 class="text-danger text-center"><i class="fa-solid fa-ban fa-3x" style="color: #ff0000;"></i></h1>
        <p class="text-center">Sadece Üyeler Hesabını Dondurabilir</p>
        <a asp-action="Index" asp-controller="Home" class="text-center btn btn-outline-danger">Anasayfaya Dön</a>
    </div>
</div>