@{
    ViewData["Title"] = "Kiralama İsteği Elimize Ulaştı";
}
<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <h1 class="text-danger text-center"><i class="fa-solid fa-circle-check fa-3x" style="color: #11ff00;"></i></h1>
        <p class="text-center">İlginiz İçin Teşekkür ederiz.</p>
        <p class="text-center">İsteğiniz onaylandığında e-posta ile bilgilendirileceksiniz.</p>
        <a asp-action="Index" asp-controller="Home" class="text-center btn btn-outline-success">Anasayfaya Dön</a>
    </div>
</div>
